body {
  margin: 40px auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(220, 229, 235);
  max-width: 1024px;
  font-weight: 100;
  font-size: 14px;
}

* {
  outline: none !important;
  border-radius: none !important;
}

.btn {
  margin-right: 0px;
  line-height: 40px;
  height: 40px;
  border-radius: 0;
  border: none;
  padding: 0 20px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.05);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn:hover {
  background: rgba(0, 0, 0, 0.1);
}

.apply {
  margin-left: 2px;
  background: rgba(0, 255, 0, 0.2);
}

.ml2 {
  margin-left: 2px;
}


input {
  height: 39px;
  border: none;
  margin: 0;
  padding: 0 10px;
  background: rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input.success {
  background: rgba(0, 255, 0, 0.1);
}

input.error {
  background: rgba(255, 0, 0, 0.1);
}

input.error:focus {
  background: rgba(255, 0, 0, 0.05);
  border-bottom: 1px solid rgba(255, 0, 0, 0.30);
}

input:focus {
  background: rgba(255, 255, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.50);
}

select {
  height: 40px;
  border: none;
  margin: 0;
  padding: 0 10px;
  background: rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

select.success {
  background: rgba(0, 255, 0, 0.1);
}

select.error {
  background: rgba(255, 0, 0, 0.1);
}

.missing {
  color: rgba(255, 0, 0, 0.80);
  font-weight: 400;
}